{# templates/hello/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Exo Taxe{% endblock %}

{% block body %}
    <h1>{{ controller_name }}!</h1>
    <p>notre service de calcul de taxe est capable de calculer la TVA et le TTC</p>
    <p>{{ message }}</p>
{% endblock %}
